@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #3498db;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0rem;
  font-size: 16px;
  background-color: #f5f5f5;
}