.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  max-height: 663px;
  background-color: #f0f0f0;

  img {
    flex: 1;
    max-width: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.message {
  flex: 1;
  max-width: 40%;
  gap: 1rem;

  h2 {
    color: black;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: #000000be;
    font-size: 1rem;
    line-height: 1.5;
  }

  button {
    background-color: #000;
    color: white;
    border: none;
    padding: 0.8rem 4rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 32px;
  }

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}