.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1001;

  header {
    border-bottom: 1px solid #ccc;
  }
  
  .closeBtn {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .cartList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0rem;

    .itemDetails {
      border: 1px solid #ccc;
      margin: 1rem;
      border-radius: 4px;
      padding: 1rem;
    }

    .removeBtn {
      background: none;
      border: none;
      cursor: pointer;
      color: red;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}